.opening {
  display: flex;
  padding: 24px;
  flex-direction: column;
}

.typing {
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0
  }
}